<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <title>Gerenciar livros</title>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0 shrink-to-fit=no' name='viewport' />
        <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/paper-kit.css">
        <style>
            input {
                display: block;
                margin-bottom: 10px;
                height: 50px;
                width: 500px;
            }
            form {
                padding: 30px;
            }
            .botao {
                width: 60px;
            }
        </style>
    </head>
    <body>
        <div class="page-header">
            <div class="content-center">
                <div class="title-brand">
                    <h1 class="display-1">Preencha os campos baixo</h1>
                    <div class="wrapper fadeInDown">
                        <div id="formContent">
                            <form method="post" action="/gerenciar">
                                <input type="text" id="titulo" name="titulo" class="fadeIn second" placeholder="Título">
                                <input type="text" id="autor" name="autor" class="fadeIn second" placeholder="Autor">
                                <input type="number" id="edicao" name="edicao" class="fadeIn second" placeholder="Edição">
                                <input type="text" id="editora" name="editora" class="fadeIn second" placeholder="Editora">
                                <textarea name="descricao" id="descricao" cols="95" rows="4" placeholder="Descrição"></textarea>
                                <input type="submit" class="fadeIn fourth btn btn-primary" value="Entrar">
                            </form>
                        </div>
                        <hr>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Titulo</th>
                                    <th scope="col">Autor</th>
                                    <th scope="col">Edição</th>
                                    <th scope="col">Editora</th>
                                    <th scope="col">Descrição</th>
                                    <th scope="col">Editar</th>
                                    <th scope="col">Excluir</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% livros.forEach((livro) => { %>
                                <tr>
                                    <th scope="row"><%= livro.id %></th>
                                    <td><%= livro.titulo %></td>
                                    <td><%= livro.autor %></td>
                                    <td><%= livro.edicao %></td>
                                    <td><%= livro.editora %></td>
                                    <td><%= livro.descricao %></td>
                                    <form action="/editar/<%= livro.id %>" method="get">
                                        <td><input type="submit" value="Editar" class="botao"></td>
                                    </form>
                                    <form action="/excluir/<%= livro.id %>" method="delete">
                                        <td><input type="submit" value="Excluir" class="botao"></td>
                                    </form>
                                </tr>
                                <% })%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
