<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <title>Livraria</title>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0 shrink-to-fit=no' name='viewport' />
        <link rel="stylesheet" href="../img/livro1.jpg">
        <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/paper-kit.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
        <style>
        body {
            background-image: url('../img/livro1.jpg');
        }
        </style>
    </head>
    <body>
        <div class="page-header section-dark" style="background-image: url('../img/livro1.jpg')">
            <div class="content-center">
                <div class="title-brand">
                    <h1 class="presentation-title">Place of Books</h1>
                </div>
                <h2 class="presentation-subtitle text-center">O livro que você precisa esta aqui! </h2>
            </div>
        </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Titulo</th>
                <th scope="col">Autor</th>
                <th scope="col">Edição</th>
                <th scope="col">Editora</th>
                <th scope="col">Descrição</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>]
                <td>Editora</td>
                <td>Descrição</td>
              </tr>
            </tbody>
          </table>
    </body>
</html>
